Logistics/Service References/LogisticsService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/Service1.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProject" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyProjectStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyProjectStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyProjectStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyProjectStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuild" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserLogin" message="tns:IService1_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserLoginResponse" message="tns:IService1_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUser" message="tns:IService1_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUserResponse" message="tns:IService1_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCurrentUser" message="tns:IService1_GetCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCurrentUserResponse" message="tns:IService1_GetCurrentUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUser" message="tns:IService1_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserResponse" message="tns:IService1_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyUser" message="tns:IService1_ModifyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyUserResponse" message="tns:IService1_ModifyUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyPassword" message="tns:IService1_ModifyPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyPasswordResponse" message="tns:IService1_ModifyPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProject" message="tns:IService1_AddProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProjectResponse" message="tns:IService1_AddProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyProjectStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyProjectStatus" message="tns:IService1_ModifyProjectStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyProjectStatusResponse" message="tns:IService1_ModifyProjectStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProject" message="tns:IService1_GetProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProjectResponse" message="tns:IService1_GetProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBuild" message="tns:IService1_GetBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBuildResponse" message="tns:IService1_GetBuild_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyProjectStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyProjectStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuild">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8081/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>