Logistics/Service References/LogisticsService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/Service1.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProEngineering_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProEngineering" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProEngineering_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProEngineeringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuild" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProHourse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProHourse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProHourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProHourseResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserLogin" message="tns:IService1_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserLoginResponse" message="tns:IService1_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyPassword" message="tns:IService1_ModifyPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyPasswordResponse" message="tns:IService1_ModifyPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProEngineering">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProEngineering" message="tns:IService1_AddProEngineering_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProEngineeringResponse" message="tns:IService1_AddProEngineering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBuild" message="tns:IService1_GetBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBuildResponse" message="tns:IService1_GetBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProHourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProHourse" message="tns:IService1_AddProHourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProHourseResponse" message="tns:IService1_AddProHourse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProEngineering">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProEngineering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuild">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProHourse">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProHourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8081/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>